* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://ibb.co/VpMTtf9'); /* Background image */
    background-size: cover;
    color: #fff;
    text-align: center;
}

header {
    padding: 50px 0;
    background: rgba(0, 0, 0, 0.7);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
}

.bio, .anime-list, .images {
    background: rgba(255, 255, 255, 0.2);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
}

ul {
    list-style-type: none;
}

.image-gallery img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border-radius: 10px;
}

footer {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
}
